doctype 5
html(lang='en', ng-app)
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    link(rel='stylesheet', href='css/global.css')
    block head-css
    script(src='http://localhost:35729/livereload.js')
    block head-js
  body
    block content
    block content-js
